{{#customer}}
<div class="row">
    <div class="col-lg-7 col-md-6 col-sm-7">
        <h2>{{name}}<small> &raquo;&nbsp;{{customerId}}</small></h2>
        <address>
            <i class="fa fa-home fa-fw" aria-hidden="true"></i> {{street}}<br/>
            <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> {{zip}} {{town}}<br/>
            <i class="fa fa-globe fa-fw" aria-hidden="true"></i> {{#region}}{{.}} - {{/region}}{{country}}
        </address>
        <dl class="dl-horizontal">
            {{#business}}
                <dt>Business</dt><dd>{{ . }}</dd>
            {{/business}}
            {{#group}}
                <dt>Customer group</dt><dd>{{ . }}</dd>
            {{/group}}
            <dt>Average payment time</dt><dd>{{averagePaymentTime}} <strong>working</strong> days</dd>
        </dl>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-5">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe frameborder="0" style="border:0" class="embed-responsive-item"
                src="https://www.google.com/maps/embed/v1/place?q={{street}},{{town}},{{country}}&key=AIzaSyCQ_CBTJwSgHKe4IyFf6BxoiEDKh75T76I" allowfullscreen></iframe>
        </div>
    </div>
</div>
{{/customer}}
<div class="row">
    <div class="col-md-8">
        <h3>Outstanding orders until {{outstanding_orders_date}}</h3>
        <div class="table-responsive">
            <table class="sortable table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Reference number</th>
                    <th>Workpiece</th>
                    <th>Factory</th>
                    <th>Amount (House)</th>
                    <th>Amount (Transaction)</th>
                </tr>
                </thead>
                <tbody>
                {{#outstanding_orders}}
                    <tr class="danger">
                        <td>{{bookingDate}}</td>
                        <td>{{referenceNumber}}</td>
                        <td>
                          {{#workPiece}}
                            <abbr title="{{id}}">{{name}}</abbr>
                          {{/workPiece}}
                        </td>
                        <td>
                          {{#factory}}
                            <abbr title="{{address}}">{{name}}</abbr>
                          {{/factory}}
                        </td>
                        <td class="text-right" data-value="{{#houseMoney}}{{amountAsString}}{{/houseMoney}}">{{houseMoney}}</td>
                        <td class="text-right" data-value="{{#transactionMoney}}{{amountAsString}}{{/transactionMoney}}">{{transactionMoney}}</td>
                    </tr>
                {{/outstanding_orders}}
                {{^outstanding_orders}}
                    <tr class="success">
                        <td colspan="6" class="text-center">
                            <strong>This customer does not have outstanding orders!</strong>
                        </td>
                    </tr>
                {{/outstanding_orders}}
                </tbody>
            </table>
        </div>
        <h3>Orders</h3>
        <div class="table-responsive">
            <table class="sortable table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Reference number</th>
                    <th>Workpiece</th>
                    <th>Factory</th>
                    <th>Amount (House)</th>
                    <th>Amount (Transaction)</th>
                </tr>
                </thead>
                <tbody>
                {{#orders}}
                    <tr>
                        <td>{{bookingDate}}</td>
                        <td>{{referenceNumber}}</td>
                        <td>
                          {{#workPiece}}
                            <abbr title="{{id}}">{{name}}</abbr>
                          {{/workPiece}}
                        </td>
                        <td>
                          {{#factory}}
                            <abbr title="{{address}}">{{name}}</abbr>
                          {{/factory}}
                        </td>
                        <td class="text-right" data-value="{{#houseMoney}}{{amountAsString}}{{/houseMoney}}">{{houseMoney}}</td>
                        <td class="text-right" data-value="{{#transactionMoney}}{{amountAsString}}{{/transactionMoney}}">{{transactionMoney}}</td>
                    </tr>
                {{/orders}}
                {{^orders}}
                    <tr>
                        <td colspan="6" class="text-center">
                            <strong>No orders for this customer. Start selling now!</strong>
                        </td>
                    </tr>
                {{/orders}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Sales</h3>
        <div class="embed-responsive embed-responsive-16by9">
            <div id="sales_chart" class="embed-responsive-item"></div>
        </div>
        <div class="table-responsive">
            <table class="sortable table table-striped">
                <thead>
                <tr>
                    <th>Year</th>
                    <th>Sales</th>
                    <th>Profit</th>
                </tr>
                </thead>
                <tbody>
                {{#sales}}
                    <tr>
                        <td>{{_1}}</td>
                        <td class="text-right" data-value="{{#_2}}{{amountAsString}}{{/_2}}">{{_2}}</td>
                        <td class="text-right" data-value="{{#_3}}{{amountAsString}}{{/_3}}">{{_3}}</td>
                    </tr>
                {{/sales}}
                </tbody>
            </table>
        </div>
        <h3>Sales Contributions</h3>
        <div id="piechart" class="embed-responsive-item"></div>
        <div class="table-responsive">
          <table class="sortable table table-striped">
          <thead>
          <tr>
              <th>Product-ID</th>
              <th>Product</th>
              <th>Percentage</th>
          </tr>
          </thead>
          <tbody>
          {{#sales_contributions}}
              <tr>
                {{#_1}}
                  <td>{{id}}</td>
                  <td>{{name}}</td>
                {{/_1}}
                  <td>{{_2}} %</td>
              </tr>
          {{/sales_contributions}}
          </tbody>
          </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var sales = [
          {{#sales}}
              ["{{_1}}", {{#_2}}{{amountAsString}}{{/_2}}, {{#_3}}{{amountAsString}}{{/_3}}],
          {{/sales}}
          ['Year', 'Sales', 'Profit']
        ];
        var data = google.visualization.arrayToDataTable(sales.reverse());

        var options = {
          title: 'Sales',
          curveType: 'none',
          legend: { position: 'bottom' },
          animation: {
            startup: true,
            duration: 1000,
            easing: 'out'
          }
        };
        var chart = new google.visualization.LineChart(document.getElementById('sales_chart'));
        chart.draw(data, options);

        var contributions_data = [
          {{#sales_contributions}}
            [{{#_1}}"{{name}}"{{/_1}}, parseFloat(({{_2}}).toString().replace(',','.'))],
          {{/sales_contributions}}
          ['Product', 'Sales contributions']
        ];
        var data_pie = google.visualization.arrayToDataTable(contributions_data.reverse());

        var options_pie = {
          title: 'Sales Contributions',
          legend: { position: 'bottom' },
          animation: {
            startup: true,
            duration: 1000,
            easing: 'out'
          }
        };

        var chart_pie = new google.visualization.PieChart(document.getElementById('piechart'));

        chart_pie.draw(data_pie, options_pie);

    }
</script>