<div class="row">
    <div class="col-sm-4">
        <img src="/about/scala.png" class="img img-responsive center-block" />
        <h4 class="text-center">Scala</h4>
    </div>
    <div class="col-sm-4">
        <img src="/about/scalatra.png" class="img img-responsive center-block" />
        <h4 class="text-center">Scalatra</h4>
    </div>
    <div class="col-sm-4">
        <img src="/about/templating.png" class="img img-responsive center-block" />
        <h4 class="text-center">Mustache</h4>
    </div>
</div>