<div class="row">
    <div class="col-sm-4">
        <img src="/about/scala.png" class="img img-responsive img-responsive center-block" />
        <h4 class="text-center">Scala</h4>
    </div>
    <div class="col-sm-4">
        <img src="/about/scalatra.png" class="img img-responsive img-responsive center-block" />
        <h4 class="text-center">Scalatra</h4>
    </div>
    <div class="col-sm-4">
        <img src="/about/templating.png" class="img img-responsive img-responsive center-block" />
        <h4 class="text-center">Mustache</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-2 col-sm-4 col-xs-6">
        <img src="https://avatars.githubusercontent.com/u/6051384?v=3" class="img img-responsive img-circle center-block" />
        <h4 class="text-center">Lukas Behrendt</h4>
    </div>
    <div class="col-lg-2 col-sm-4 col-xs-6">
        <img src="https://avatars.githubusercontent.com/u/2145092?v=3" class="img img-responsive img-circle center-block" />
        <h4 class="text-center">Christian Flach</h4>
    </div>
    <div class="col-lg-2 col-sm-4 col-xs-6">
        <img src="https://avatars.githubusercontent.com/u/9320199?v=4" class="img img-responsive img-circle center-block" />
        <h4 class="text-center">Frederike Ramin</h4>
    </div>
    <div class="col-lg-2 col-sm-4 col-xs-6">
        <img src="https://avatars.githubusercontent.com/u/9248711?v=3" class="img img-responsive img-circle center-block" />
        <h4 class="text-center">Johannes Schneider</h4>
    </div>
    <div class="col-lg-2 col-sm-4 col-xs-6">
        <img src="https://avatars.githubusercontent.com/u/9257781?v=3" class="img img-responsive img-circle center-block" />
        <h4 class="text-center">Julian Weise</h4>
    </div>
</div>