<script>
  // Load charts for both the cash cow and the world wide sales.
  google.charts.load('current', {packages: ['corechart', 'geochart']});
</script>
{{>company/cash-cow-products}}
{{>company/worldwide-sales}}
