<div class="row">
    <div class="col-md-12">
        <h3>Cash cow products</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th class="text-right">Amount</th>
                </tr>
                </thead>
                <tbody>
                {{#products}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td class="text-right">{{sales_sum}}</td>
                    </tr>
                {{/products}}
                {{^products}}
                    <tr class="success">
                        <td colspan="6" class="text-center">
                            <strong>We did not sell anything. We will be unemployed soon :(</strong>
                        </td>
                    </tr>
                {{/products}}
                </tbody>
            </table>
        </div>
    </div>
</div>