<div class="list-group">
{{#customers}}
    <a href="/customer/{{customerNumber}}" class="list-group-item">
        <h4 class="list-group-item-heading"><strong>{{customerNumber}}</strong> &raquo; {{name}}</h4>
        <p class="list-group-item-text">
            <address>
        <i class="fa fa-home fa-fw" aria-hidden="true"></i> {{street}}<br/>
        <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> {{zip}} {{town}}<br/>
        <i class="fa fa-globe fa-fw" aria-hidden="true"></i> {{country}}
            </address>
        </p>
    </a>
{{/customers}}
</div>