{{#customer}}
<div class="row">
    <div class="col-md-6">
        <h4 class="list-group-item-heading"><strong>{{customerNumber}}</strong> &raquo; {{name}}</h4>
        <p class="list-group-item-text">
        <address>
            <i class="fa fa-home fa-fw" aria-hidden="true"></i> {{street}}<br/>
            <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> {{zip}} {{town}}<br/>
    <i class="fa fa-globe fa-fw" aria-hidden="true"></i>{{#region}}{{.}} - {{/region}} {{country}}
        </address>
        <dl class="dl-horizontal">
            <dt>Business</dt><dd>{{business}}</dd>
            <dt>Customer group</dt><dd>{{group}}</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe frameborder="0" style="border:0" class="embed-responsive-item"
                src="https://www.google.com/maps/embed/v1/place?q={{street}},{{town}},{{country}}&key=AIzaSyCQ_CBTJwSgHKe4IyFf6BxoiEDKh75T76I" allowfullscreen></iframe>
        </div>
    </div>
</div>
{{/customer}}
<div class="row">
    <div class="col-md-8">
        <h1>Orders</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Reference number</th>
                <th>Workpiece</th>
                <th>Material</th>
                <th>Amount (House)</th>
                <th>Amount (Transaction)</th>
            </tr>
            </thead>
            <tbody>
            {{#orders}}
                <tr>
                    <td>{{bookingDate}}</td>
                    <td>{{referenceNumber}}</td>
                    <td>{{workPiece}}</td>
                    <td>{{material}}</td>
                    <td>{{houseCurrency}} {{houseAmount}}</td>
                    <td>{{transactionCurrency}} {{transactionAmount}}</td>
                </tr>
            {{/orders}}
            {{^orders}}
                <tr>
                    <td colspan="6" class="text-center">
                        <strong>No orders for this customer. Start selling now!</strong>
                    </td>
                </tr>
            {{/orders}}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h1>Sales</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Year</th>
                <th>Sales</th>
                <th>Profit</th>
            </tr>
            </thead>
            <tbody>
            {{#sales}}
                <tr>
                    <td>{{_1}}</td>
                    <td>{{_2}}</td>
                    <td>{{_3}}</td>
                </tr>
            {{/sales}}
            </tbody>
        </table>
    </div>
</div>