{{#filter}}
  <div class="row">
    <div class="col-xs-12">
      {{!
        "countries" -> dataStore.getCountries,
        "productHierachy" -> dataStore.getProductHierarchy,
        }}
      <form method="post" action="/company/statistics/filter" class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="factory">Factory</label>
          <select class="form-control" id="factory" name="factory">
            <option value="">All factories</option>
            {{#factories}}
              <option value="{{id}}"{{#isSelected}}factory={{id}}{{/isSelected}}>{{name}}</option>
            {{/factories}}
          </select>
        </div>
        <div class="form-group">
          <label class="sr-only" for="salesOrganization">Sales Organization</label>
          <select class="form-control" id="salesOrganization" name="salesOrganization">
            <option value="">All sales organizations</option>
            {{#salesOrganizations}}
              <option value="{{_1}}"{{#isSelected}}salesOrganization={{_1}}{{/isSelected}}>{{_2}}</option>
            {{/salesOrganizations}}
          </select>
        </div>
        <div class="form-group">
          <label class="sr-only" for="materialType">Material Type</label>
          <select class="form-control" id="materialType" name="materialType">
            <option value="">All material types</option>
            {{#materialTypes}}
              <option value="{{_1}}"{{#isSelected}}materialType={{_1}}{{/isSelected}}>{{_2}}</option>
            {{/materialTypes}}
          </select>
        </div>
        <div class="form-group">
          <label class="sr-only" for="productHierachyVal">Product Hierachy</label>
          <select class="form-control" id="productHierachyVal" name="productHierachyVal">
            <option value="">Everything</option>
            {{#productHierarchy}}
              <option value="{{_1}}"{{#isSelected}}productHierachyVal={{_1}}{{/isSelected}}>{{#indent}}{{{_3}}}{{/indent}}{{_2}}</option>
            {{/productHierarchy}}
          </select>
        </div>
        <div class="form-group">
          <label class="sr-only" for="country">Country</label>
          <select class="form-control" id="country" name="country">
            <option value="">All countries</option>
            {{#countries}}
              <option value="{{id}}"{{#isSelected}}country={{id}}{{/isSelected}}>{{name}}</option>
            {{/countries}}
          </select>
        </div>
        <div class="form-group">
          <label class="sr-only" for="region">Region</label>
          <select class="form-control" id="region" name="region">
            <option value="">All regions</option>
            {{#regions}}
              <option value="{{id}}"{{#isSelected}}region={{id}}{{/isSelected}}>{{name}}</option>
            {{/regions}}
          </select>
        </div>
        <button type="submit" class="btn btn-default">
          <i class="fa fa-filter"></i> Filter
        </button>
      </form>
    </div>
  </div>
{{/filter}}