<div class="row">
  <div class="col-md-12">
    <h3>World wide sales including region infos
      {{#startDate}}
        {{#endDate}}
          between {{startDate}} and {{endDate}}
        {{/endDate}}
        {{^endDate}}
          after {{startDate}}
        {{/endDate}}
      {{/startDate}}
      {{^startDate}}
        {{#endDate}}
          until {{endDate}}
        {{/endDate}}
        {{^endDate}}
          {{! Nothing}}
        {{/endDate}}
      {{/startDate}}
    </h3>
  </div>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Country</th>
          <th>Region</th>
          <th class="text-right">Amount</th>
        </tr>
        </thead>
        <tbody>
        {{#worldWideSales}}
          <tr class="active">
            <td colspan="2">{{#_1}}{{name}}{{/_1}}</td>
            {{#_2}}<td class="text-right" data-value="{{amountAsString}}"><strong>{{.}}</strong></td>{{/_2}}
          </tr>
          {{#_3}}
            <tr>
              <td></td>
              <td><em>{{#_1}}{{name}}{{/_1}}</em></td>
              {{#_2}}<td class="text-right" data-value="{{amountAsString}}"><em>{{.}}</em></td>{{/_2}}
            </tr>
          {{/_3}}
        {{/worldWideSales}}
        {{^worldWideSales}}
          <tr class="danger">
            <td colspan="3" class="text-center danger">
              <strong>We did not sell anything in the given time frame. Bad times :(</strong>
            </td>
          </tr>
        {{/worldWideSales}}
        </tbody>
      </table>
    </div>
  </div>
</div>