<div class="row">
  <div class="col-xs-12">
    <h3>World-wide sales</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <div id="world_chart" class="embed-responsive-item"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  google.charts.setOnLoadCallback(drawWorldWideSalesChart);

  function drawWorldWideSalesChart() {
    var data = google.visualization.arrayToDataTable([
      ['Country', 'Sales'],
      {{#worldWideSales}}
        ['{{#_1}}{{id}}{{/_1}}', {{#_2}}{{amountAsString}}{{/_2}}],
      {{/worldWideSales}}
    ]);

    var options = {
      colorAxis: {
        colors: ['FFFFFF', '#F0AB00']
      }
    };

    var chart = new google.visualization.GeoChart(document.getElementById('world_chart'));

    chart.draw(data, options);
  }
</script>