<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Callcenter Dashboard</title>

    <script>
      paceOptions = {
          ajax: { trackMethods: ["GET", "POST", "DELETE", "PUT", "PATCH"] },
          document: true,
          restartOnRequestAfter: 50
      };
      if (window.location.pathname.indexOf('/customer/') === 0) {
          paceOptions['elements'] = {
              selectors: ["#sales_chart svg"]
          }
      }
    </script>
    <script src="/pace.min.js"></script>
    <link href="/pace.css" rel="stylesheet" />

	<link href="/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="/html5shiv.min.js"></script>
      <script src="/respond.min.js"></script>
    <![endif]-->
    <script src="/jquery-1.12.3.min.js"></script>
  </head>
  <body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="/">Callcenter Dashboard</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse">
		  <ul class="nav navbar-nav">
              <li class="{{#isCurrentPage}}/{{/isCurrentPage}}"><a href="/">Find customers <span class="sr-only">(current)</span></a></li>
              <li class="{{#isCurrentPage}}/about{{/isCurrentPage}}"><a href="/about">About</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="https://github.com/cmfcmf/sap-hana"><i class="fa fa-external-link fa-fw"></i> GitHub</a></li>
		  </ul>
		</div>
	  </div>
	</nav>

	<div class="container">
		<div class="row">
            <div class="col-xs-12">
                {{#error}}
                    <div class="alert alert-danger">
                        {{ . }}
                    </div>
                {{/error}}
                {{{ body }}}
                <hr />
                <p>Callcenter Dashboard by Lukas Behrendt, Christian Flach, Frederike Ramin, Johannes Schneider, Julian Weise, &copy; 2016</p>
            </div>
		</div>
	</div>

    <script src="/bootstrap.min.js"></script>
  </body>
</html>